In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('pandas_dataset_assignment.csv')

In [3]:
df

   CustomerID  Age  Gender  Income Department  SatisfactionScore
0    CUST1000   56    Male   78984  Marketing                  1
1    CUST1001   46  Female   70774         IT                  8
2    CUST1002   32  Female   32568  Marketing                  1
3    CUST1003   25  Female   92592    Finance                  1
4    CUST1004   38  Female   97563  Marketing                  2
5    CUST1005   56  Female   32695         IT                  2
6    CUST1006   36  Female   78190         IT                  6
7    CUST1007   40  Female   35258    Finance                  7
8    CUST1008   28  Female  117538         HR                  5
9    CUST1009   28  Female   69504         HR                  1
10   CUST1010   41  Female   63159  Marketing                  1
11   CUST1011   53  Female   43986      Sales                  3
12   CUST1012   57    Male   91858  Marketing                  2
13   CUST1013   41    Male   42666    Finance                  5
14   CUST1014   20  Female   68660    Finance                 10
15   CUST1015   39  Female   33561    Finance                  6
16   CUST1016   19  Female   56854    Finance                  7
17   CUST1017   41  Female   94505    Finance                  4
18   CUST1018   47  Female   82251         IT                  7
19   CUST1019   55  Female   52662         HR                  8
20   CUST1020   19  Female   38392    Finance                  1
21   CUST1021   38  Female   60535      Sales                  6
22   CUST1022   50    Male  108603      Sales                  8
23   CUST1023   29  Female   82256      Sales                  5
24   CUST1024   39    Male  119135      Sales                  4
25   CUST1025   42  Female   65222         IT                  2
26   CUST1026   44  Female  107373      Sales                  6
27   CUST1027   59    Male  109575    Finance                  6
28   CUST1028   45  Female  114651  Marketing                  1
29   CUST1029   33    Male   93335      Sales                  9
30   CUST1030   32  Female   40965         IT                  6
31   CUST1031   20  Female   54538         IT                  3
32   CUST1032   54    Male  100592      Sales                  4
33   CUST1033   24  Female   38110  Marketing                  4
34   CUST1034   38    Male  109309      Sales                  3
35   CUST1035   26  Female   57266         IT                 10
36   CUST1036   56    Male   82992         HR                  3
37   CUST1037   35    Male  112948    Finance                  3
38   CUST1038   21  Female   36910         IT                  4
39   CUST1039   42  Female   30206      Sales                  7
40   CUST1040   31    Male  117054    Finance                  4
41   CUST1041   26  Female  117897      Sales                  9
42   CUST1042   43  Female   53419      Sales                  1
43   CUST1043   19  Female   80636         HR                  8
44   CUST1044   37    Male   80015    Finance                  7
45   CUST1045   45    Male   84268    Finance                  2
46   CUST1046   24    Male  117939         HR                  8
47   CUST1047   25    Male   48141         IT                  1
48   CUST1048   52    Male  110356      Sales                  9
49   CUST1049   31    Male  101910  Marketing                  9

In [4]:

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         50 non-null     object
 1   Age                50 non-null     int64
 2   Gender             50 non-null     object
 3   Income             50 non-null     int64
 4   Department         50 non-null     object
 5   SatisfactionScore  50 non-null     int64
dtypes: int64(3), object(3)
memory usage: 2.5+ KB
None

In [5]:
print(df.head())

  CustomerID  Age  Gender  Income Department  SatisfactionScore
0   CUST1000   56    Male   78984  Marketing                  1
1   CUST1001   46  Female   70774         IT                  8
2   CUST1002   32  Female   32568  Marketing                  1
3   CUST1003   25  Female   92592    Finance                  1
4   CUST1004   38  Female   97563  Marketing                  2

In [14]:
print(df['Gender'].unique())

['Male' 'Female']

In [15]:
print(df['Gender'].value_counts())

Gender
Female    32
Male      18
Name: count, dtype: int64

In [17]:
filtered_df = df[df['SatisfactionScore'] > 3]

In [18]:
filtered_df

   CustomerID  Age  Gender  Income Department  SatisfactionScore
1    CUST1001   46  Female   70774         IT                  8
6    CUST1006   36  Female   78190         IT                  6
7    CUST1007   40  Female   35258    Finance                  7
8    CUST1008   28  Female  117538         HR                  5
13   CUST1013   41    Male   42666    Finance                  5
14   CUST1014   20  Female   68660    Finance                 10
15   CUST1015   39  Female   33561    Finance                  6
16   CUST1016   19  Female   56854    Finance                  7
17   CUST1017   41  Female   94505    Finance                  4
18   CUST1018   47  Female   82251         IT                  7
19   CUST1019   55  Female   52662         HR                  8
21   CUST1021   38  Female   60535      Sales                  6
22   CUST1022   50    Male  108603      Sales                  8
23   CUST1023   29  Female   82256      Sales                  5
24   CUST1024   39    Male  119135      Sales                  4
26   CUST1026   44  Female  107373      Sales                  6
27   CUST1027   59    Male  109575    Finance                  6
29   CUST1029   33    Male   93335      Sales                  9
30   CUST1030   32  Female   40965         IT                  6
32   CUST1032   54    Male  100592      Sales                  4
33   CUST1033   24  Female   38110  Marketing                  4
35   CUST1035   26  Female   57266         IT                 10
38   CUST1038   21  Female   36910         IT                  4
39   CUST1039   42  Female   30206      Sales                  7
40   CUST1040   31    Male  117054    Finance                  4
41   CUST1041   26  Female  117897      Sales                  9
43   CUST1043   19  Female   80636         HR                  8
44   CUST1044   37    Male   80015    Finance                  7
46   CUST1046   24    Male  117939         HR                  8
48   CUST1048   52    Male  110356      Sales                  9
49   CUST1049   31    Male  101910  Marketing                  9

In [19]:
avg_income_by_dept = df.groupby('Department')['Income'].mean()

In [20]:
avg_income_by_dept

Department
Finance      74334.461538
HR           86878.500000
IT           56695.200000
Marketing    77350.375000
Sales        87461.692308
Name: Income, dtype: float64

In [21]:
print(df.loc[0:5, df.columns[:3]])

  CustomerID  Age  Gender
0   CUST1000   56    Male
1   CUST1001   46  Female
2   CUST1002   32  Female
3   CUST1003   25  Female
4   CUST1004   38  Female
5   CUST1005   56  Female

In [22]:
print(df.iloc[0:6, 0:3])

  CustomerID  Age  Gender
0   CUST1000   56    Male
1   CUST1001   46  Female
2   CUST1002   32  Female
3   CUST1003   25  Female
4   CUST1004   38  Female
5   CUST1005   56  Female

In [23]:
selected_columns = df[['CustomerID', 'Age', 'Gender']]

In [24]:
selected_columns

   CustomerID  Age  Gender
0    CUST1000   56    Male
1    CUST1001   46  Female
2    CUST1002   32  Female
3    CUST1003   25  Female
4    CUST1004   38  Female
5    CUST1005   56  Female
6    CUST1006   36  Female
7    CUST1007   40  Female
8    CUST1008   28  Female
9    CUST1009   28  Female
10   CUST1010   41  Female
11   CUST1011   53  Female
12   CUST1012   57    Male
13   CUST1013   41    Male
14   CUST1014   20  Female
15   CUST1015   39  Female
16   CUST1016   19  Female
17   CUST1017   41  Female
18   CUST1018   47  Female
19   CUST1019   55  Female
20   CUST1020   19  Female
21   CUST1021   38  Female
22   CUST1022   50    Male
23   CUST1023   29  Female
24   CUST1024   39    Male
25   CUST1025   42  Female
26   CUST1026   44  Female
27   CUST1027   59    Male
28   CUST1028   45  Female
29   CUST1029   33    Male
30   CUST1030   32  Female
31   CUST1031   20  Female
32   CUST1032   54    Male
33   CUST1033   24  Female
34   CUST1034   38    Male
35   CUST1035   26  Female
36   CUST1036   56    Male
37   CUST1037   35    Male
38   CUST1038   21  Female
39   CUST1039   42  Female
40   CUST1040   31    Male
41   CUST1041   26  Female
42   CUST1042   43  Female
43   CUST1043   19  Female
44   CUST1044   37    Male
45   CUST1045   45    Male
46   CUST1046   24    Male
47   CUST1047   25    Male
48   CUST1048   52    Male
49   CUST1049   31    Male

In [25]:
average_income = df['Income'].mean()

In [28]:
average_income

np.float64(76207.52)